<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-2">USER SYSTEM</h2>
      <div class="card my-5 mycard">
        <form class="card-body cardbody-color ">

          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px" alt="profile">
              <div class="row">
                <h3>MY APP</h3>
                <p>VERSION 1.0</p>
              </div>
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
              placeholder="User Name" [(ngModel)] = "user.userName" name="userName">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)] = "user.password">
          </div>
          <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100" (click)="handleSubmit()" >{{ isLogin ? "Login": "Register" }}</button></div>
          <div id="emailHelp" class="form-text text-center mb-5 text-dark">
            {{!isLogin ? "Already Register ?": "Not Registered?"}} <a href="#" class="text-dark fw-bold"  (click)="changePageStatus()" >{{isLogin ? "Create an Account" :  "Login"}}</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>